body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: bold;
}

#orders {
    /* display: flex;
    justify-content: center; */
}

#orders table {
    width: 50%;
}

#orders tr { 
    text-align: center;
}

.tableheader {
    text-transform: uppercase;
}